// EDITED resource script (Not AppStudio). Picks up #define'd version macros from source project

#include <WindObj/Version.h>
#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION WINDOBJ_MAJVERNO,WINDOBJ_MINVERNO
 PRODUCTVERSION WINDOBJ_MAJVERNO,WINDOBJ_MINVERNO
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904e4"
        BEGIN
            VALUE "Comments", "Author: Chris Oakley Nomura International plc\0"
            VALUE "CompanyName", "Nomura International plc\0"
            VALUE "FileDescription", "Windows Objects library\0"
            VALUE "FileVersion", WINDOBJ_VERSTR "\0"
            VALUE "InternalName", "WindObj\0"
            VALUE "LegalCopyright", "Copyright Nomura International plc 1997-2002\0"
            VALUE "LegalTrademarks", "Author: Chris Oakley\0"
            VALUE "OriginalFilename", "WindObj.dll\0"
            VALUE "ProductName", WINDOBJ_LONGVERSTR "\0"
            VALUE "ProductVersion", WINDOBJ_VERSTR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252
    END
END
